<!--(click)="Function_Name" bind to click event handler, when invoked it will go to TypeScript to find the function-->
<div class="well well-sm mouseOver" (click)="navigateToDetail()">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
            <h3>{{ accountSummary.name }}</h3>
            <span>{{ accountSummary.accountNumber | formatAccountNumber }}</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            <h3>{{ accountSummary.balance | currency:"GBP":true:"1.2-2" }}</h3>
            <span>Available Balance</span>
        </div>
    </div>
</div>
